<form  (ngSubmit)="createEmployeeRecord(registerForm)" #registerForm="ngForm" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="firstName"
        [(ngModel)]="model.firstname" placeholder="First Name">

        <input type="text" class="form-control" name="lastName"
        [(ngModel)]="model.lastname" placeholder="Last Name">

        <input type="text" class="form-control" name="gender"
        [(ngModel)]="model.gender" placeholder="Gender">

        <input type="text" class="form-control" name="position"
        [(ngModel)]="model.position" placeholder="Position">

        <input type="date" class="form-control" name="DOB"
        [(ngModel)]="model.dob" placeholder="DOB">

        <input type="text" class="form-control" name="Address"
        [(ngModel)]="model.Address" placeholder="Address">


    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
    </div>

    <div *ngIf="!doneRegister"> <h1>Register Successfully</h1> </div>
</form>
